services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: snaplink_db
      MYSQL_ROOT_PASSWORD: 1234
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  web:
    build: .
    command: >
      sh -c "sleep 15 &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_NAME: snaplink_db
      DB_USER: root
      DB_PASSWORD: 1234
      REDIS_URL: redis://redis:6379/0
      DEBUG: "True"
    depends_on:
      - db
      - redis

volumes:
  mysql_data: